In [2]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..', 'src')))

import matplotlib.pylab as plt
import numpy as np
import pandas as pd
from data import data_processing as dp # we can use methods from here to interact with yfinance

# Get historical data
`get_data()` from "src/data/yfinance_data.py" contains this method which pulls the historical data from the yfinance API to get all historical data associated with the stock since inception

In [3]:
df = dp.get_data("AAPL") 
df

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
1980-12-12    0.098726    0.099155    0.098726    0.098726  469033600
1980-12-15    0.093575    0.094005    0.093575    0.094005  175884800
1980-12-16    0.086707    0.087136    0.086707    0.087136  105728000
1980-12-17    0.088853    0.089282    0.088853    0.088853   86441600
1980-12-18    0.091429    0.091858    0.091429    0.091429   73449600
...                ...         ...         ...         ...        ...
2025-05-05  198.889999  204.100006  198.210007  203.100006   69018500
2025-05-06  198.509995  200.649994  197.020004  198.210007   51216500
2025-05-07  196.250000  199.440002  193.250000  199.169998   68616900
2025-05-08  197.490005  200.050003  194.679993  197.720001   50369700
2025-05-09  198.098694  200.539902  197.535004  199.005005   18869408

[11193 rows x 5 columns]

# Add technical indicators
Since `get_data()` returns OHLCV data we can develop some technical indicators in new columns using this data alone, this is done in `process_data()` where we can use `NumPy` to easily add these new columns. We will also drop any null valued rows as well during this time.

In [4]:
df = dp.process_data(df)
df

Price,Close,High,Low,Open,Volume,SMA(20),SMA(50),SMA(200)
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,,,
Date,,,,,,,,
1980-12-12,0.098726,0.099155,0.098726,0.098726,469033600,NaN,NaN,NaN
1980-12-15,0.093575,0.094005,0.093575,0.094005,175884800,NaN,NaN,NaN
1980-12-16,0.086707,0.087136,0.086707,0.087136,105728000,NaN,NaN,NaN
1980-12-17,0.088853,0.089282,0.088853,0.088853,86441600,NaN,NaN,NaN
1980-12-18,0.091429,0.091858,0.091429,0.091429,73449600,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2025-05-05,198.889999,204.100006,198.210007,203.100006,69018500,200.188502,214.656401,226.640217
2025-05-06,198.509995,200.649994,197.020004,198.210007,51216500,201.041001,213.684601,226.515622
2025-05-07,196.250000,199.440002,193.250000,199.169998,68616900,202.232501,212.668801,226.379079
2025-05-08,197.490005,200.050003,194.679993,197.720001,50369700,202.164501,211.811401,226.250480
2025-05-09,198.098694,200.539902,197.535004,199.005005,18869408,202.548436,211.027375,226.119692

# Add Signals
We need to add signals to tell the bot where we should buy and sell. We can add a new column to signal this. For simplicity we will use the golden cross for "buy" and death cross for "sell". This will serve as the label.

In [7]:
df = dp.add_signals(df)

238

# Construct ML model
Once we have a dataframe with the technical indicators we would like to use, we can construct the ML model. We will use scikit-learn to simplify the process. Here we will scale the data, set up the pipeline, and split the data up.

In [69]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression # Various ML models 
from sklearn.preprocessing import StandardScaler, QuantileTransformer # Import for scaling the data
from sklearn.pipeline import Pipeline 
from sklearn.model_selection import GridSearchCV

pipe = Pipeline([
    ("scale", StandardScaler()),
    ("model", LinearRegression())
])

# Train ML Model
We will test the model on the training data which will be a chunk of the dataframe we got from yfinance. Then once trained we can put it another chunk for validation data and adjust parameters as needed. Finally we can run the model on the test data for final analysis.

# Export Model 
Once the model is trained we can export it using the `pickle` library or another equivalent. We can then use this in a driver where