In [58]:
from src.data.yfinance_data import * # we can use methods from here to interact with yfinance

# Get historical data
`get_data()` from "src/data/yfinance_data.py" contains this method which pulls the historical data from the yfinance API to get all historical data associated with the stock since inception

In [59]:
df = get_data("AAPL")
df

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
1980-12-12    0.098726    0.099155    0.098726    0.098726  469033600
1980-12-15    0.093575    0.094005    0.093575    0.094005  175884800
1980-12-16    0.086707    0.087136    0.086707    0.087136  105728000
1980-12-17    0.088853    0.089282    0.088853    0.088853   86441600
1980-12-18    0.091429    0.091858    0.091429    0.091429   73449600
...                ...         ...         ...         ...        ...
2025-05-01  213.320007  214.559998  208.899994  209.080002   57365700
2025-05-02  205.350006  206.990005  202.160004  206.089996  101010600
2025-05-05  198.889999  204.100006  198.210007  203.100006   69018500
2025-05-06  198.509995  200.649994  197.020004  198.210007   51216500
2025-05-07  196.250000  199.440002  193.250000  199.169998   68536700

[11191 rows x 5 columns]

# Add technical indicators
Since `get_data()` returns OHLCV data we can develop some technical indicators in new columns using this data alone, this is done in `process_data()` where we can use `NumPy` to easily add these new columns.

In [56]:
process_data(df) 
df

Price,Close,High,Low,Open,Volume,SMA(20),SMA(50),SMA(200)
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,,,
Date,,,,,,,,
1980-12-12,0.098726,0.099155,0.098726,0.098726,469033600,NaN,NaN,NaN
1980-12-15,0.093575,0.094005,0.093575,0.094005,175884800,NaN,NaN,NaN
1980-12-16,0.086707,0.087136,0.086707,0.087136,105728000,NaN,NaN,NaN
1980-12-17,0.088853,0.089282,0.088853,0.088853,86441600,NaN,NaN,NaN
1980-12-18,0.091429,0.091858,0.091429,0.091429,73449600,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2025-05-01,213.320007,214.559998,208.899994,209.080002,57365700,199.555002,216.399201,226.929751
2025-05-02,205.350006,206.990005,202.160004,206.089996,101010600,199.663002,215.589601,226.786334
2025-05-05,198.889999,204.100006,198.210007,203.100006,69018500,200.188502,214.656401,226.640217
2025-05-06,198.509995,200.649994,197.020004,198.210007,51216500,201.041001,213.684601,226.515622
2025-05-07,196.250000,199.440002,193.250000,199.169998,68536700,202.232501,212.668801,226.379079

# Construct ML model
Once we have a dataframe with the technical indicators we would like to use, we can construct the ML model. We will use scikit-learn to simplify the process. Here we will scale the data, set up the pipeline, and split the data up.

# Train ML Model
We will test the model on the training data which will be a chunk of the dataframe we got from yfinance. Then once trained we can put it another chunk for validation data and adjust parameters as needed. Finally we can run the model on the test data for final analysis.